* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spinner {
  width: 200px;
  height: 200px;
  position: relative;
}

.spinner::before,
.spinner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 10px solid grey;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.spinner::after {
  border-color: yellow transparent transparent transparent;
  animation-name: spinner;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spinner {
  100% {
    rotate: 360deg;
  }
}
