.box {
  width: 300px;
  height: 300px;
  background: green;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 0.4s ease;
  position: relative;
  top: 0;
  left: 0;
}
.wrapper {
  border: 1px solid red;
  padding: 50px;
  position: relative;
}
.wrapper:hover .box {
  /* transform: translate(100%); */
  /* left: 100%; */
}

.left,
.right {
  background: green;
  color: #fff;
  border: 0;
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}

/*
Thuộc tính transform: Thay đổi hình dạng của các thẻ html (xoay, phóng to, thu nhỏ, nghiêng, di chuyển)
- rotate(angle): Xoay theo trục Z
- rotateX(angle): Xoay theo trục X
- rotateY(angle): Xoay theo trục Y
- scale(x,y): Phóng to, thu nhỏ theo trục x, y (x, y là tỷ lệ phóng hoặc tỷ lệ thu nhỏ)
- scaleX(value): Phóng theo trục X
- scaleY(value): Phóng theo trục Y
- skew(angleX, angleY): Nghiêng theo trục X, Y
- skewX(angle): Nghiêng theo trục X
- skewY(angle): Nghiêng theo trục Y
- translate(x,y): Di chuyển thẻ html tới vị trí mới (Không thay đổi bố cục)
- translateX(value): Di chuyển theo trục X
- translateY(value): Di chuyển theo trục Y

Các thuộc tính tách ra
- rotate ==> Tương tự transform: rotate()
- scale ==> Tương tự transform: scale()
- translate ==> Tương tự transform: translate()
*/
