* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.player {
  width: 80%;
  margin: 30px auto;
}
.player .play-action {
  text-align: center;
}
.player .play-action i {
  font-size: 1.2rem;
  cursor: pointer;
}
.player .play-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.progress-bar {
  width: 100%;
  height: 10px;
  background: gray;
  position: relative;
  cursor: pointer;
}
.progress-bar:hover {
  background: greenyellow;
}
.progress-bar .progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: red;
}
.progress-bar .progress span {
  position: absolute;
  top: -1px;
  right: -6px;
  width: 12px;
  height: 12px;
  background: blueviolet;
  border-radius: 50%;
}
