body {
  background: green;
  color: #fff;
}
@media screen and (max-width: 1199px) {
  body {
    background: red;
  }
}

@media screen and (max-width: 767px) {
  body {
    background: blueviolet;
  }
}
