* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu {
    background: #fff;
    position: fixed;
    top: 0;
    left: -200px;
    bottom: 0;
    z-index: 100;
    width: 200px;
    padding: 15px;
    transition: left 0.3s linear;
}
.overlay {
    background: #00000087;
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    transition-property: opacity, visibility;
}
input[type="checkbox"]:checked ~ .menu {
    left: 0;
}
input[type="checkbox"]:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
}